apache-airflow[gcp]==1.10.3
ethereum-etl==1.4.1
google-cloud-bigquery
pytest==5.4.1
apache-airflow>=2.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
eth-account>=0.5.9 # not directly required, pinned by Snyk to avoid a vulnerability
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
